<a href="https://colab.research.google.com/github/GianTheGoat/project_gss/blob/main/DS3001Project1Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

gss = pd.read_parquet("/gss_chunk_3.parquet")
gss = gss.dropna(how = "all")

In [36]:
filt = gss.filter(items = ["year", "occ" "wrkstat", "wrkslf", "hrs1", "income06",
                           "degree", "marital", "happy", "partyid"],axis=1)
yrgss = filt[(filt["year"] == 2006) | (filt["year"] == 2008) | (filt["year"] == 2010)]
yrgss

,year,wrkslf,hrs1,income06,degree,marital,happy,partyid
0,2006,someone else,40.0,$110000 to $129999,high school,married,NaN,"independent (neither, no response)"
1,2006,someone else,NaN,$75000 to $89999,bachelor's,never married,pretty happy,"independent (neither, no response)"
2,2006,someone else,35.0,$60000 to 74999,bachelor's,divorced,pretty happy,not very strong republican
3,2006,someone else,50.0,$35000 to 39999,high school,never married,NaN,not very strong republican
4,2006,someone else,40.0,$75000 to $89999,bachelor's,married,very happy,not very strong republican
...,...,...,...,...,...,...,...,...
6822,2010,someone else,NaN,$150000 or over,bachelor's,married,pretty happy,strong republican
6823,2010,someone else,NaN,$12500 to 14999,high school,widowed,not too happy,strong republican
6824,2010,someone else,40.0,$20000 to 22499,high school,separated,very happy,not very strong democrat
6825,2010,someone else,49.0,$6 000 to 6 999,bachelor's,divorced,pretty happy,"independent (neither, no response)"
6826,2010,someone else,40.0,$35000 to 39999,high school,never married,pretty happy,other party